<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathis' Exercise 1</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <a href="/"><h1>Link to Start Page</h1></a>

    <h1>Vieilly's Sample Form</h1>
    <form id="form">
        <div>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" />
        </div>

        <div>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="name@domain" />
        </div>

        <div>
            <span>Payment Type:</span>
            <div>
                <input id="radio-cash" type="radio" name="payment" value="cash" />
                <label for="radio-cash">Cash</label>
            </div>
        
            <div>
                <input id="radio-credit" type="radio" name="payment" value="credit" />
                <label for="radio-credit">Credit Card</label>
            </div>

            <div>
                <input id="radio-google-pay" type="radio" name="payment" value="gpay" />
                <label for="radio-google-pay">Google Pay</label>
            </div>

            <div>
            <input id="radio-apple-pay" type="radio" name="payment" value="apay" />
            <label for="radio-apple-pay">Apple Pay</label>
            </div>
        </div>

        <div>
            <input id="check-promotion" type="checkbox" name="promotion" value="promotion" />
            <label for="check-promotion">Sign me up for special promotions</label>
        </div>

        <div>
            <label for="location">Preferred Location:</label>
            <select id="location" name="location">
                <option value="la">Los Angeles</option>
                <option value="oc">Orange County</option>
                <option value="riverside">Riverside</option>
                <option value="sd">San Diego</option>
            </select>
        </div>

        <div>
            <button type="submit">Submit</button>
            <button type="reset">Cancel</button>
        </div>
    </form>

    <script src="/ex1.js"></script>
</body>
</html>
